@import '../../../node_modules/@getflywheel/local-components/src/styles/_partials/index.scss';

.instantReloadTableList {
	overflow: visible !important;
}

.instantReloadToggleHeader {
	strong {
		font-size: 18px;
		padding-right: 15px !important;
	}

}

.instantReloadText {
	display: flex;
	justify-content: space-between;
	padding-left: 28.5px;
	padding-bottom: 15px;
	margin-right: 30px;
}

.instantReloadTextContent {
	padding-top: 5px;
}

.addPaddingTop {
	padding-top: 10px;
}

.lastDetectedChange {
	@include if-theme-light() {
		background-color: #fff !important;
	}
	@include if-theme-dark() {
		background-color: $gray-dark !important;
	}

	div {
		text-align: right;
		font-size: 12px !important;
		color: #5d5e5e;
		@include if-theme-dark() {
			color: $white !important;
		}
	}
}

.InstantReload_InfoIcon {
	svg {
		margin: 2px 0 0 0;

		path {
			@include __theme-fill($gray, $gray75);
		}
	}
}

.InstantReload_Tooltip {
	display: inline-block;
	margin-left: -5px;
}

.sessionLogContainer {
	padding-left: 28.5px;
	margin-right: 30px;

	span {
	font-size: 12px !important;
	}
}

.logSessionActive {
	@include theme-color-graydark-else-white;
}

.logSessionInactive {
	color: $gray75;
}

.wpCacheAlert {
	padding-left: 28.5px;
	padding-bottom: 25px;
	margin-right: 30px;
	& span {
		font-size: 12px;
	}
}
