@import '../../../node_modules/@getflywheel/local-components/src/styles/_partials/index';

.InstantReload_Indicator {
	display: flex;
	align-items: center;
	font-weight: 700;
	padding-right: 10px;
	@include theme-color-gray-else-gray25;

	svg {
		width: 10px;
		height: 10px;
		vertical-align: middle;
		margin: 0px 10px 1px 0px;

		circle,
		path {
			fill: $gray25;
		}
	}
}

.InstantReload_Enabled {
	svg {
		circle,
		path {
			fill: $green;
		}
	}
}
